@media screen and (min-width: 320px) and (max-width: 1157px)  {
  .icons-block {
    display: none;
  }
  .traits-list {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  /* SECTION-HERO */
  .list-traits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
